/* Some sensible defaults for images
Bring inline: Yes. */
/* line 3, ../scss/_base.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}
/* line 7, ../scss/_base.scss */
a img {
  border: none;
}

/* line 12, ../scss/_base.scss */
.image_fix {
  display: block;
}

/* Yahoo paragraph fix
Bring inline: Yes. */
/* line 18, ../scss/_base.scss */
p {
  margin: 1em 0;
}

/* Hotmail header color reset
Bring inline: Yes. */
/* line 24, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #da89b8 !important;
}
/* line 26, ../scss/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: blue !important;
}
/* line 28, ../scss/_base.scss */
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
  /* Preferably not the same color as the normal header link color.  There is limited support for pseudo classes in email clients, this was added just for good measure. */
  color: #4040c4 !important;
}
/* line 32, ../scss/_base.scss */
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  /* Preferably not the same color as the normal header link color. There is limited support for pseudo classes in email clients, this was added just for good measure. */
  color: #4040c4 !important;
}

/* Remove spacing around Outlook 07, 10 tables
Bring inline: Yes */
/* line 41, ../scss/_base.scss */
table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
/* line 45, ../scss/_base.scss */
table,
table td {
  /* Outlook 07, 10 Padding issue fix
  Bring inline: No.*/
  border-collapse: collapse;
}

/* Styling your links has become much simpler with the new Yahoo.  In fact, it falls in line with the main credo of styling in email and make sure to bring your styles inline.  Your link colors will be uniform across clients when brought inline.
Bring inline: Yes. */
/* line 54, ../scss/_base.scss */
a {
  color: blue;
}

/* line 58, ../scss/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 3, ../scss/_main.scss */
#backgroundTable {
  background-color: #fff6fe;
  background-image: url("/img/valentines/lovepattern.jpg");
  background-position: top left;
  background-repeat: repeat;
}

/*
@tab Page
@section email border
@tip Set the border for your email.
*/
/* line 16, ../scss/_main.scss */
#templateContainer {
  /*@editable*/
  border-right: 4px solid #da89b8 !important;
  /*@editable*/
  border-left: 4px solid #da89b8 !important;
}

/*
@tab Page
@section heading 1
@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
@style heading 1
*/
/* line 7, ../scss/_text.scss */
h1 {
  /*@editable*/
  color: #DA89B7;
  display: block;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 30px;
  /*@editable*/
  font-style: normal;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left;
}

/*
@tab Page
@section heading 2
@tip Set the styling for all second-level headings in your emails.
@style heading 2
*/
/* line 28, ../scss/_text.scss */
h2 {
  /*@editable*/
  color: #40C4D6;
  display: block;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 26px;
  /*@editable*/
  font-style: normal;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left;
}

/*
@tab Page
@section heading 3
@tip Set the styling for all third-level headings in your emails.
@style heading 3
*/
/* line 49, ../scss/_text.scss */
h3 {
  /*@editable*/
  color: #40C4D6;
  display: block;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 15px;
  /*@editable*/
  font-style: normal;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left;
}

/*
@tab Page
@section heading 4
@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
@style heading 4
*/
/* line 70, ../scss/_text.scss */
h4 {
  /*@editable*/
  color: #DA89B7;
  display: block;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 13px;
  /*@editable*/
  font-style: normal;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  letter-spacing: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /*@editable*/
  text-align: left;
}

/*
@tab Header
@section preheader style
@tip Set the background color and bottom border for your email's preheader area.
@theme page
*/
/* line 7, ../scss/_header.scss */
#templatePreheader {
  /*@editable*/
  background-color: #da89b7;
  /*@editable*/
  border-bottom: 0;
}

/*
@tab Header
@section preheader text
@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
/* line 16, ../scss/_header.scss */
.preheaderContent {
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 10px;
  /*@editable*/
  line-height: 125%;
  /*@editable*/
  text-align: left;
}

/*
@tab Header
@section preheader link
@tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/
/* line 28, ../scss/_header.scss */
.preheaderContent a:link, .preheaderContent a:visited, .preheaderContent a .yshortcuts {
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/* line 33, ../scss/_header.scss */
#upperTemplateHeader {
  background-color: #fff6fe;
}

/*
@tab Header
@section upper header text
@tip Set the styling for your email's upper header text. Choose a size and color that is easy to read.
*/
/* line 41, ../scss/_header.scss */
.upperHeaderContent {
  /*@editable*/
  color: #505050;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 20px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  padding-top: 40px;
  /*@editable*/
  padding-right: 0;
  /*@editable*/
  padding-bottom: 20px;
  /*@editable*/
  padding-left: 0;
  /*@editable*/
  text-align: center;
  /*@editable*/
  vertical-align: middle;
}

/*
@tab Header
@section upper header link
@tip Set the styling for your email's upper header links. Choose a color that helps them stand out from your text.
*/
/* line 59, ../scss/_header.scss */
.upperHeaderContent a:link, .upperHeaderContent a:visited, .upperHeaderContent a .yshortcuts {
  /*@editable*/
  color: #924593;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/*
@tab Header
@section lower header style
@tip Set the background color and border for your email's upper header area.
@theme header
*/
/* line 70, ../scss/_header.scss */
.lowerTemplateHeader {
  /*@editable*/
  background-color: #FFFFFF;
}

/*
@tab Header
@section lower header style
@tip Set the background color and border for your email's upper header area.
@theme header
*/
/* line 79, ../scss/_header.scss */
.lowerHeaderContent {
  /*@editable*/
  border-bottom: 0;
}

/*
@tab Header
@section lower header text
@tip Set the styling for your email's upper lower text. Choose a size and color that is easy to read.
*/
/* line 87, ../scss/_header.scss */
.lowerHeaderContent {
  /*@editable*/
  color: #505050;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 20px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  padding-top: 0;
  /*@editable*/
  padding-right: 0;
  /*@editable*/
  padding-bottom: 10px;
  /*@editable*/
  padding-left: 0;
  /*@editable*/
  text-align: center;
  /*@editable*/
  vertical-align: middle;
}

/*
@tab Header
@section lower header link
@tip Set the styling for your email's lower header links. Choose a color that helps them stand out from your text.
*/
/* line 105, ../scss/_header.scss */
.lowerHeaderContent a:link, .lowerHeaderContent a:visited, .lowerHeaderContent a .yshortcuts {
  /*@editable*/
  color: #924593;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/* line 110, ../scss/_header.scss */
.headerImage {
  height: auto;
  max-width: 600px !important;
}

/*
@tab Body
@section body style
@tip Set the background color and borders for your email's body area.
*/
/* line 6, ../scss/_body.scss */
#templateBody {
  /*@editable*/
  background-color: #FFFFFF;
  /*@editable*/
  border-top: 0;
}

/*
@tab Body
@section body text
@tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
@theme main
*/
/* line 16, ../scss/_body.scss */
.bodyContent {
  /*@editable*/
  color: #505050;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 17px;
  /*@editable*/
  line-height: 150%;
  /*@editable*/
  text-align: left;
}

/*
@tab Body
@section body link
@tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
/* line 28, ../scss/_body.scss */
.bodyContent a:link, .bodyContent a:visited, .bodyContent a .yshortcuts {
  /*@editable*/
  color: #0E76BC;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/* line 33, ../scss/_body.scss */
.bodyContent img {
  display: inline;
  height: auto;
  max-width: 325px !important;
}

/*
@tab Body
@section schedule style
@tip Set the background color for your email's event schedule.
*/
/* line 43, ../scss/_body.scss */
.templateDataTable {
  /*@editable*/
  background-color: #FFFFFF;
}

/*
@tab Body
@section schedule image
@tip Set the background color for your email's event schedule.
*/
/* line 51, ../scss/_body.scss */
.templateDataImage {
  height: auto;
  max-width: 540px !important;
}

/*
@tab Body
@section schedule heading text
@tip Set the styling for your email's event schedule heading text. Choose a size and color that is easy to read.
*/
/* line 60, ../scss/_body.scss */
.dataTableHeading {
  /*@editable*/
  background-color: #da89b8;
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 15px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 150%;
  /*@editable*/
  text-align: left;
}

/*
@tab Body
@section schedule heading link
@tip Set the styling for your email's event schedule heading links. Choose a color that helps them stand out from your text.
*/
/* line 74, ../scss/_body.scss */
.dataTableHeading a:link, .dataTableHeading a:link, .dataTableHeading a .yshortcuts {
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  text-decoration: underline;
}

/*
@tab Body
@section schedule text
@tip Set the styling for your email's event schedule text. Choose a size and color that is easy to read.
*/
/* line 84, ../scss/_body.scss */
.dataTableContent {
  /*@editable*/
  color: #606060;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 13px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 150%;
  /*@editable*/
  text-align: left;
}

/*
@tab Body
@section schedule link
@tip Set the styling for your email's event schedule links. Choose a color that helps them stand out from your text.
*/
/* line 97, ../scss/_body.scss */
.dataTableContent a:link, .dataTableContent a:link, .dataTableContent a .yshortcuts {
  /*@editable*/
  color: #606060;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  text-decoration: underline;
}

/*
@tab Footer
@section upper footer style
@tip Set the background color and border for your email's upper footer area.
@theme footer
*/
/* line 8, ../scss/_footer.scss */
.upperTemplateFooter {
  /*@editable*/
  background-color: #FFFFFF;
}

/*
@tab Footer
@section upper footer style
@tip Set the background color and border for your email's upper footer area.
@theme footer
*/
/* line 19, ../scss/_footer.scss */
.upperFooterContent {
  /*@editable*/
  border-bottom: 0;
}

/*
@tab Footer
@section upper footer text
@tip Set the styling for your email's upper footer text. Choose a size and color that is easy to read.
*/
/* line 27, ../scss/_footer.scss */
.upperFooterContent {
  /*@editable*/
  color: #505050;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 20px;
  /*@editable*/
  font-weight: bold;
  /*@editable*/
  line-height: 100%;
  /*@editable*/
  padding-top: 0;
  /*@editable*/
  padding-right: 0;
  /*@editable*/
  padding-bottom: 10px;
  /*@editable*/
  padding-left: 0;
  /*@editable*/
  text-align: center;
  /*@editable*/
  vertical-align: middle;
}

/*
@tab Footer
@section upper footer link
@tip Set the styling for your email's upper footer links. Choose a color that helps them stand out from your text.
*/
/* line 45, ../scss/_footer.scss */
.upperFooterContent a:link, .upperFooterContent a:visited, .upperFooterContent a .yshortcuts {
  /*@editable*/
  color: #924593;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/*
@tab Footer
@section footer style
@tip Set the background color and borders for your email's footer area.
@theme footer
*/
/* line 58, ../scss/_footer.scss */
#templateFooter {
  /*@editable*/
  background-color: #da89b7;
  /*@editable*/
  border-top: 1px solid #FFFFFF;
  /*@editable*/
  border-bottom: 4px solid #da89b8 !important;
}

/*
@tab Footer
@section footer text
@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
@theme footer
*/
/* line 69, ../scss/_footer.scss */
.footerContent {
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-family: Helvetica;
  /*@editable*/
  font-size: 10px;
  /*@editable*/
  line-height: 150%;
  /*@editable*/
  text-align: center;
}

/*
@tab Footer
@section footer link
@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
/* line 81, ../scss/_footer.scss */
.footerContent a:link, .footerContent a:visited, .footerContent a .yshortcuts {
  /*@editable*/
  color: #FFFFFF;
  /*@editable*/
  font-weight: normal;
  /*@editable*/
  text-decoration: underline;
}

/* line 86, ../scss/_footer.scss */
.footerContent img {
  display: inline;
}

/* line 89, ../scss/_footer.scss */
#monkeyRewards img {
  max-width: 180px;
}

/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-device-width: 480px) {
  /* Part one of controlling phone number linking for mobile. */
  /* line 12, ../scss/_media-queries.scss */
  a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: blue;
    /* or whatever your want */
    pointer-events: none;
    cursor: default;
  }
  /* line 17, ../scss/_media-queries.scss */
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
  }
}
/* More Specific Targeting */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* You guessed it, ipad (tablets, smaller screens, etc) */
  /* repeating for the ipad */
  /* line 36, ../scss/_media-queries.scss */
  a[href^="tel"], a[href^="sms"] {
    text-decoration: none;
    color: blue;
    /* or whatever your want */
    pointer-events: none;
    cursor: default;
  }
  /* line 41, ../scss/_media-queries.scss */
  .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
    text-decoration: default;
    color: orange !important;
    pointer-events: auto;
    cursor: default;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* Put your iPhone 4g styles in here */
}
/* Android targeting */
@media only screen and (-webkit-device-pixel-ratio: 0.75) {
  /* Put CSS for low density (ldpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1) {
  /* Put CSS for medium density (mdpi) Android layouts in here */
}
@media only screen and (-webkit-device-pixel-ratio: 1.5) {
  /* Put CSS for high density (hdpi) Android layouts in here */
}
/* end Android targeting */
