/*
@tab Body
@section body style
@tip Set the background color and borders for your email's body area.
*/
	#templateBody{
		/*@editable*/background-color:#FFFFFF;
		/*@editable*/border-top:0;
	}
/*
@tab Body
@section body text
@tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
@theme main
*/
	.bodyContent{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:17px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
/*
@tab Body
@section body link
@tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
	.bodyContent a:link,.bodyContent a:visited,.bodyContent a .yshortcuts {
		/*@editable*/color:#0E76BC;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	.bodyContent img{
		display:inline;
		height:auto;
		max-width:325px !important;
	}
/*
@tab Body
@section schedule style
@tip Set the background color for your email's event schedule.
*/
	.templateDataTable{
		/*@editable*/background-color:#FFFFFF;
	}
/*
@tab Body
@section schedule image
@tip Set the background color for your email's event schedule.
*/
	.templateDataImage{
		height:auto;
		max-width:540px !important;
	}
/*
@tab Body
@section schedule heading text
@tip Set the styling for your email's event schedule heading text. Choose a size and color that is easy to read.
*/
	.dataTableHeading{
		/*@editable*/background-color:$img-header-color;
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:15px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
/*
@tab Body
@section schedule heading link
@tip Set the styling for your email's event schedule heading links. Choose a color that helps them stand out from your text.
*/
	.dataTableHeading a:link,.dataTableHeading a:link,.dataTableHeading a .yshortcuts {
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-weight:bold;
		/*@editable*/text-decoration:underline;
	}
/*
@tab Body
@section schedule text
@tip Set the styling for your email's event schedule text. Choose a size and color that is easy to read.
*/
	.dataTableContent{
		/*@editable*/color:#606060;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:13px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:left;
	}
/*
@tab Body
@section schedule link
@tip Set the styling for your email's event schedule links. Choose a color that helps them stand out from your text.
*/
	.dataTableContent a:link,.dataTableContent a:link,.dataTableContent a .yshortcuts {
		/*@editable*/color:#606060;
		/*@editable*/font-weight:bold;
		/*@editable*/text-decoration:underline;
	}