
/*
@tab Footer
@section upper footer style
@tip Set the background color and border for your email's upper footer area.
@theme footer
*/
.upperTemplateFooter{
	// /*@editable*/border-top:2px solid $border-color;
	/*@editable*/background-color:#FFFFFF;
}

/*
@tab Footer
@section upper footer style
@tip Set the background color and border for your email's upper footer area.
@theme footer
*/
	.upperFooterContent{
		/*@editable*/border-bottom:0;
	}
/*
@tab Footer
@section upper footer text
@tip Set the styling for your email's upper footer text. Choose a size and color that is easy to read.
*/
	.upperFooterContent{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:20px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/padding-top:0;
		/*@editable*/padding-right:0;
		/*@editable*/padding-bottom:10px;
		/*@editable*/padding-left:0;
		/*@editable*/text-align:center;
		/*@editable*/vertical-align:middle;
	}
/*
@tab Footer
@section upper footer link
@tip Set the styling for your email's upper footer links. Choose a color that helps them stand out from your text.
*/
	.upperFooterContent a:link,.upperFooterContent a:visited,.upperFooterContent a .yshortcuts {
		/*@editable*/color:#924593;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}


/*
@tab Footer
@section footer style
@tip Set the background color and borders for your email's footer area.
@theme footer
*/
	#templateFooter{
		/*@editable*/background-color:$base-bg-color;
		/*@editable*/border-top:1px solid #FFFFFF;
		/*@editable*/border-bottom:4px solid $border-color !important;
	}
/*
@tab Footer
@section footer text
@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
@theme footer
*/
	.footerContent{
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:10px;
		/*@editable*/line-height:150%;
		/*@editable*/text-align:center;
	}
/*
@tab Footer
@section footer link
@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
	.footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts {
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	.footerContent img{
		display:inline;
	}
	#monkeyRewards img{
		max-width:180px;
	}