/*
@tab Header
@section preheader style
@tip Set the background color and bottom border for your email's preheader area.
@theme page
*/
	#templatePreheader{
		/*@editable*/background-color:$base-bg-color;
		/*@editable*/border-bottom:0;
	}
/*
@tab Header
@section preheader text
@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
*/
	.preheaderContent{
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:10px;
		/*@editable*/line-height:125%;
		/*@editable*/text-align:left;
	}
/*
@tab Header
@section preheader link
@tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
*/
	.preheaderContent a:link,.preheaderContent a:visited,.preheaderContent a .yshortcuts {
		/*@editable*/color:#FFFFFF;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	#upperTemplateHeader{
		background-color:$upper-bg-color;
	}
/*
@tab Header
@section upper header text
@tip Set the styling for your email's upper header text. Choose a size and color that is easy to read.
*/
	.upperHeaderContent{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:20px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/padding-top:40px;
		/*@editable*/padding-right:0;
		/*@editable*/padding-bottom:20px;
		/*@editable*/padding-left:0;
		/*@editable*/text-align:center;
		/*@editable*/vertical-align:middle;
	}
/*
@tab Header
@section upper header link
@tip Set the styling for your email's upper header links. Choose a color that helps them stand out from your text.
*/
	.upperHeaderContent a:link,.upperHeaderContent a:visited,.upperHeaderContent a .yshortcuts {
		/*@editable*/color:#924593;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
/*
@tab Header
@section lower header style
@tip Set the background color and border for your email's upper header area.
@theme header
*/
	.lowerTemplateHeader{
		/*@editable*/background-color:#FFFFFF;
	}
/*
@tab Header
@section lower header style
@tip Set the background color and border for your email's upper header area.
@theme header
*/
	.lowerHeaderContent{
		/*@editable*/border-bottom:0;
	}
/*
@tab Header
@section lower header text
@tip Set the styling for your email's upper lower text. Choose a size and color that is easy to read.
*/
	.lowerHeaderContent{
		/*@editable*/color:#505050;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:20px;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/padding-top:0;
		/*@editable*/padding-right:0;
		/*@editable*/padding-bottom:10px;
		/*@editable*/padding-left:0;
		/*@editable*/text-align:center;
		/*@editable*/vertical-align:middle;
	}
/*
@tab Header
@section lower header link
@tip Set the styling for your email's lower header links. Choose a color that helps them stand out from your text.
*/
	.lowerHeaderContent a:link,.lowerHeaderContent a:visited,.lowerHeaderContent a .yshortcuts {
		/*@editable*/color:#924593;
		/*@editable*/font-weight:normal;
		/*@editable*/text-decoration:underline;
	}
	.headerImage{
		height:auto;
		max-width:600px !important;
	}