// Main styles go here!

#backgroundTable {
	background-color:$main-bg-color;
	background-image:url($BG_PATTERN);
	background-position:top left;
	background-repeat:repeat;
}


/*
@tab Page
@section email border
@tip Set the border for your email.
*/
	#templateContainer{
		/*@editable*/border-right:4px solid $border-color !important;
		/*@editable*/border-left:4px solid $border-color !important;
	}