/*
@tab Page
@section heading 1
@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
@style heading 1
*/
	h1{
		/*@editable*/color:#DA89B7;
		display:block;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:30px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/letter-spacing:normal;
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
		/*@editable*/text-align:left;
	}
/*
@tab Page
@section heading 2
@tip Set the styling for all second-level headings in your emails.
@style heading 2
*/
	h2{
		/*@editable*/color:#40C4D6;
		display:block;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:26px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:normal;
		/*@editable*/line-height:100%;
		/*@editable*/letter-spacing:normal;
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
		/*@editable*/text-align:left;
	}
/*
@tab Page
@section heading 3
@tip Set the styling for all third-level headings in your emails.
@style heading 3
*/
	h3{
		/*@editable*/color:#40C4D6;
		display:block;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:15px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:bold;
		/*@editable*/line-height:100%;
		/*@editable*/letter-spacing:normal;
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
		/*@editable*/text-align:left;
	}
/*
@tab Page
@section heading 4
@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
@style heading 4
*/
	h4{
		/*@editable*/color:#DA89B7;
		display:block;
		/*@editable*/font-family:Helvetica;
		/*@editable*/font-size:13px;
		/*@editable*/font-style:normal;
		/*@editable*/font-weight:normal;
		/*@editable*/line-height:100%;
		/*@editable*/letter-spacing:normal;
		margin-top:0;
		margin-right:0;
		margin-bottom:10px;
		margin-left:0;
		/*@editable*/text-align:left;
	}