
//elements colors
$main-bg-color: #FFFFFF;
$base-heading-color: #83c451;
$base-bg-color: #83c451;
$img-header-color: #83c451;
$border-color: #67a835;
$upper-bg-color: #ffffff;

//link colors
$base-link-color: #0000FF;
$base-link-active-color: #4040C4;
$base-link-visited-color: #4040C4;

$base-color-black: #010101; //use this for links

$BG_PATTERN: '/img/generic/animated-pattern.gif';

@import "base";
@import "main";
@import "text";
@import "header";
@import "body";
@import "footer";
@import "media-queries";
