
//elements colors
$main-bg-color: #fff6fe;
$base-heading-color: #DA89B8;
$base-bg-color: #DA89B7;
$img-header-color: #DA89B8;
$border-color: #DA89B8;
$upper-bg-color: #FFF6FE;

//link colors
$base-link-color: #0000FF;
$base-link-active-color: #4040C4;
$base-link-visited-color: #4040C4;

$base-color-black: #010101; //use this for links

$BG_PATTERN: '/img/valentines/lovepattern.jpg';

@import "base";
@import "main";
@import "text";
@import "header";
@import "body";
@import "footer";
@import "media-queries";
